{$API_DOMAIN} {
    encode zstd gzip

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
    }

    reverse_proxy backend-api:3000

    log {
        output stdout
        format console
    }
}
